
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Londrina+Sketch&family=Palette+Mosaic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Just+Me+Again+Down+Here&family=Londrina+Sketch&family=Palette+Mosaic&display=swap');

.body {
    cursor:link-hover;
    margin: 0;
  height: 100vh;
  background-color: skyblue;

}


#center {
    font-family: "Darumadrop One", sans-serif;
    color: rgb(15, 177, 15);
    text-align: center;
    font-size:60px;
    
}

#pink {
    color: skyblue;
}

#heading {
    margin:auto;
    font-family: "Just Me Again Down Here", sans-serif;
    font-size: 40px;
    position:relative;
    text-align:center;
    max-width: 50%;

}


.entry1 {
    text-align:center;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#entry1 a {
    font-family:"Just Me Again Down Here", sans-serif;
    background-color: beige;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    color:black;
    margin: auto;
    justify-content: center;
}


@media (max-width: 1250px) {
    body {
        background-color: black;
        color: white;
    }
    #center {
        color: lightpink;

    }
}

