@import url("https://use.typekit.net/wds1kwx.css");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Moirai+One&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Major+Mono+Display&family=Moirai+One&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
h1 {
    font-family: "Moirai One",sans-serif;
    color: rgb(15, 177, 15);
    margin: auto;
}
h4 {font-family:"Major Mono Display",monospace;}

img {width: 360px;
    height: 360px;
}